[gui]
	fontdiff = -family \"PT Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	gcwarning = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	ul = reset --mixed HEAD^
	last = log -1 HEAD
	purr = !git fetch && git rebase
	g = gui
	k = !gitk --all
	kk = !gitk
[push]
	default = simple
	followTags = true
[user]
	name = Ivan Akulov
	email = gxoptg@gmail.com
[rebase]
	autoStash = true
[core]
	autocrlf = true
